* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C6A337;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A28631;
}

/*for body section*/
body {
  font-family: 'Abyssinica SIL';
  max-width: 100%;
  display: grid;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0;
}

/* navbar */

.navbar {
  width: 100%;
  height: auto;
  background-color: #020041;
  overflow: auto;
  box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
  -webkit-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
}

.navbar > a {
  user-select: none;
  background-color: #020041;
  color: white;
  text-decoration: none;
  font-family: 'Abyssinica SIL';
  font-size: 3vh;
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.navbar > a:hover {
  color: #C6A337;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
  }
}

.form {
  z-index: 100;
  width: 20vw;
  min-height: fit-content;
  height: fit-content;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.161);
}

.form-container {
  z-index: 100;
  min-height: fit-content;
  height: fit-content;
  width: 16vw;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  text-align: center;
}

.form-container > h1 {
  font-family: 'Abyssinica SIL';
  padding-top: 1vh;
  text-align: center;
  font-weight: 1000;
  font-size: 1.5em;
  user-select: none;
  color: #020041;
}

.form-container > label {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Abyssinica SIL';
  padding-bottom: 1vh;
  user-select: none;
  float: left;
}

.form-container input[type=text], .form-container input[type=password] {
  font-family: 'Abyssinica SIL';
  font-size: .75em;
  padding: 1vh 1vw 1vh 1vw;
  width: 100%;
  border: none;
  background: #f1f1f1;
  margin-bottom: 2vh;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .button {
  font-family: 'Abyssinica SIL';
  font-size: .875em;
  font-weight: 700;
  background-color: #020041;
  color: white;
  height: 5vh;
  border-radius: 2vw;
  cursor: pointer;
  width: 100%;
  padding: 1vh;
  opacity: 0.8;
  margin-top: 1vh;
  margin-bottom: 1vh;
  user-select: none;
}

.form-container .cancel {
  color: #020041;
  border-color: #020041;
  border-width: .15vw;
  background-color: white;
  user-select: none;
}

.form-container .button:hover, .open-button:hover {
  opacity: 1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.form-container > a {
  font-size: .8rem;
  font-family: 'Abyssinica SIL';
  color: grey;
  user-select: none;
}


/*section 1 (home)*/

.sec-1 {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 4vh;
  background-color: white;
  user-select: none;
}

.img-1 {
  margin: auto;
  padding-left: 4vw;
  padding-right: 4vh;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 500px) {
  .img-1 {
    float: none;
    display: block;
    width: 60%;
  }
}

.column-1-2 {
  float: left;
  width: 40%;
}

.column-2-2 {
  padding-top: 6vh;
  float: right;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
}

.column-2-2 > h3 {
  font-size: 6vh;
  text-align: center;
  font-weight: 100;
  color: #020041;
}

.column-2-2 > p {
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: 3.5vh;
  text-align: center;
  font-weight: 100;
  color: black;
}

.btn {
  margin-top: 4vh;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 3vh;
  background: linear-gradient(90deg, rgba(198, 163, 55, 1) 23%, rgba(162, 134, 49, 1) 100%);
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 2vw;
  padding-left: 2vw;
  text-decoration: none;
  width: 30%;
  text-align: center;
  position: inherit;
}

.btn:hover {
  background: #bd992d;
  background: linear-gradient(90deg, rgba(189, 153, 45, 1) 23%, rgba(156, 123, 26, 1) 100%);  
  text-decoration: none;
}


.btn > a {
  text-decoration: none;
  color: white;
}

/*section 2 (home)*/

.sec-2 {
  padding: 0;
  background-color: white;  
}

.bar {
  background: linear-gradient(90deg, rgba(198, 163, 55, 1) 23%, rgba(162, 134, 49, 1) 100%);
  height: 10vh;
  padding: 0;
  margin-top: 4vh;
  left: 0;
  width: 100%;
  position: inherit;
  min-height: fit-content;
}

/*section 3*/

.sec-3 {
  background-color: #020041;
  min-height: fit-content;
  height: 60vh;
  min-width: 100%;
  padding-top: 2vh;
  padding-left: 5vw; 
  padding-right: 2vw;
}

.sec-3 > .column-1-3 > h1 {
  user-select: none;
  color: white;
  font-weight: 100;
} 

.sec-3 > .column-2-3 > h1 {
  user-select: none;
  color: white;
  font-weight: 100;
} 

.sec-3 > .column-1-3 > h1 {
  user-select: none;
  color: white;
  padding-left: 2vw;
}

.sec-3 > h3 {
  user-select: none;
  color: white;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0;
}

.sec-3 > p {
  padding-left: 1vw;
  padding-bottom: 3vh;
  user-select: none;
  color: white;
  font-weight: 200;
  font-size: 1.25em;
}

.column-1-2 {
  float: left;
  display: flex;
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
  width: 40%;
}

.column-2-3 {
  float: right;
  width: 60%;
}

.column-1-3 {
  float: left;
  width: 50%;
  padding-right: 2vw;
  align-content: center;
}

/*form*/
.container {
  margin: auto;
  border-radius: .5vw;
  background-color: white;
  padding-top: 4vh;
  padding-left: 2vw;
  padding-bottom: 4vh;
  margin-bottom: 4vh;
  width: 90%;
  box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.11) inset;
  -webkit-box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.11) inset;
  -moz-box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.11) inset;
}

.container input[type=text], select, textarea {
  font-family: 'Abyssinica SIL';
  font-size: .75em;
  width: 80%;
  margin-left: 2vw;
  padding-left: .5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  height: 10vh;
}

label {
  color: #020041;
  font-size: .90em;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
  user-select: none;
  display: inline-block;
}

input[type=submit] {
  font-family: 'Abyssinica SIL';
  font-weight: 500;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: 4.25vw;
  font-size: 2vh;
  background-color: #020041;
  color: white;
  padding: 1.5vh 2vw;
  cursor: pointer;
  float: right;
  box-shadow: 10px 10px 25px 8px rgba(165,165,165,0.06);
  -webkit-box-shadow: 10px 10px 25px 8px rgba(165,165,165,0.06);
  -moz-box-shadow: 10px 10px 25px 8px rgba(165,165,165,0.06);
}

input[type=submit]:hover {
  background-color: #050088;
  color: white;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .sec-3 > .column-1-3, .sec-3 > .column-2-3, .column-1-2, .column-2-2 {
    width: 100%;
    margin-top: 0;
  }

  .sec-3 .column-1-3 > h4 {
    text-align: center;
  }

  .sec-3 .column-1-3 > p {
    text-align: center;
  }

}

.column-2-3 {
  align-content: center;
  float: right;
  width: 50%;
}

.sec-3 .column-1-3 > h4 {
  font-weight: 100;
  padding-left: 2vw;
  user-select: none;
  color: white;
  font-size: 1.5em;
  margin-top: 1.5vh;
  margin-bottom: 0;
}

.sec-3 .column-1-3 > p {
  font-size: 1.25em;
  color: white;
  padding-left: 4vw;
  user-select: none;
  font-style: italic;
  margin-bottom: 4vh;
}

.sec-3 .column-2-3 > img {
  border-radius: .5vw;
  width: 90%;
  margin-bottom: 2vh;

}

.sec-3 .column-2-3 > .address {
  color: white;
  font-size: 3vh;
  padding-left: 0;
  user-select: none;
  text-align: center;
}

/* message */

.mess {
  display: block;
  margin-right: 2vw;
  margin-left: auto;
  bottom: 3vh;
  position: sticky;
  font-size: 3vh;
  color: white;
  border-color: white;
  border-radius: 10vw;
  background-color: #020041;
  width: 2vw;
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Abyssinica SIL';
}

.popup {
  bottom: 16px;
  right: 16px;
  position: fixed;
  z-index: 9;
  width: 20vw;
  display: none;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 20vw;
  background: white;
  border-radius: 10px 10px 6px 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}

.windowhead {
  display: flex;
  justify-content: space-between;
  background-color: #050088;
  padding-left: 1vw;
  border-radius: 10px 10px 0px 0px; 
}

.windowhead i {
  font-size: 1rem;
  margin-right: 10px;
}

.windowhead h4 {
  color: white;
  font-weight: 500;
}

.close-btn {
  user-select: none;
  padding-top: 2vh;
  color: white;
  cursor: pointer;
}

.msg-container {
  padding: 12px 0px;
  height: 300px;
  margin: 10px 0; 
  padding-left: 1vw;
}

.msg {
  font-family: 'Abyssinica SIL';
  color: white;
  background-color: #050088;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 2vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.msg p {
  font-size: 12px;
  line-height: 1.8;
}

.chat-box-container {
  display: flex;
  height: 46px;
  margin-bottom: 16px;
  padding: 0 14px;
}

.chat-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background: #f5f5f5;
  border: 1px solid grey;
}

.formcontainer input{
  width: 80%;
  padding: 4px;
  height: 46px;
  padding-left: 16px;
  border: none;
  background: #f1f1f1; 
  border-radius: 4px;
}

.formcontainer input:focus {
  outline: none;
  background: #F5F5F5;
}

.send-btn .btnn {
  width: 10vw;
  background-color: #050088;
  color: white;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms;
}

.btnn:hover, .mess:hover {
  opacity: 0.9;
}


/*footer*/
.footer {
  font-family: 'Abyssinica SIL';
  text-align: center;
  color: grey;
  background-color: white;
  height: 5vh;
  width: 100%;
  margin-bottom: 2vh;
}
