* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C6A337;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A28631;
}

/*logo section*/

.sec-1 {
  width: 100%;
  user-select: none;
}

.sec-1 > img {
  align-content: center;
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 2vh;
}

/* navbar */

.navbar {
  width: 100%;
  height: auto;
  background-color: #020041;
  overflow: auto;
  box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
  -webkit-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 12px -2px rgba(0,0,0,0.14);
}

.navbar > a {
  user-select: none;
  background-color: #020041;
  color: white;
  text-decoration: none;
  font-family: 'Abyssinica SIL';
  font-size: 3vh;
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.navbar > a:hover {
  color: #C6A337;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
  }
}

/*popup*/


.form {
  z-index: 100;
  width: 20vw;
  min-height: fit-content;
  height: fit-content;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.161);
}

.form-container {
  z-index: 100;
  min-height: fit-content;
  height: fit-content;
  width: 16vw;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  text-align: center;
}

.form-container > h1 {
  font-family: 'Abyssinica SIL';
  padding-top: 1vh;
  text-align: center;
  font-weight: 1000;
  font-size: 3rem;
  user-select: none;
  color: #020041;
}

.form-container > label {
  color: #020041;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Abyssinica SIL';
  padding-bottom: 1vh;
  user-select: none;
  float: left;
}

.form-container input[type=text], .form-container input[type=password] {
  font-family: 'Abyssinica SIL';
  font-size: 2rem;
  padding: 1vh 1vw 1vh 1vw;
  width: 100%;
  border: none;
  background: #f1f1f1;
  margin-bottom: 2vh;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .button {
  font-family: 'Abyssinica SIL';
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #020041;
  color: white;
  height: 5vh;
  border-radius: 2vw;
  cursor: pointer;
  width: 100%;
  padding: 1vh;
  opacity: 0.8;
  margin-top: 1vh;
  margin-bottom: 1vh;
  user-select: none;
}

.form-container .cancel {
  color: #020041;
  border-color: #020041;
  border-width: .15vw;
  background-color: white;
  user-select: none;
}

.form-container .button:hover, .open-button:hover {
  opacity: 1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.form-container > a {
  font-size: 1.5rem;
  font-family: 'Abyssinica SIL';
  color: grey;
  user-select: none;
}


/* featured section */
.featured {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.column {
  float: left;
  height: fit-content;
  margin-bottom: 1vh;
}

.column > .imgcontain {
  user-select: none;
  display: flex;
  justify-content: center;
}

.column > .imgcontain > img {
  margin-right: 1vw;
  margin-left: 1vw;
  width: auto;
  height: 50vh;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 720px) {
  .column, .imgcontain {
    padding: auto;
    width: 100%;
  }
}

/* categories */

.categories {
  width: 100%;
  margin: auto;
  margin-bottom: 2vh;
}

.categories > h1 {
  text-align: left;
  font-family: 'Abyssinica SIL';
  font-weight: 200;
  font-size: 2em;
  color: #020041;
  padding-left: 3vw;
  padding-bottom: 4vh;
  user-select: none;
}

h1 {
  text-align: center;
  font-family: 'Abyssinica SIL';
  font-weight: 200;
  font-size: 2em;
  color: #020041;
  padding-left: 3vw;
  padding-bottom: 4vh;
  user-select: none;
}

@media screen and (max-width: 720px) {
  .categories > h1 {
    text-align: center;
  }
}

.cat-list {
  list-style: none;
  list-style-type: none;
  min-height: fit-content;
  height: 10vh;
}

ul {
  display: block;
}

ul li {
  display: inline-block;
  width: 16.66%;
  float: left;
  user-select: none;
  text-align: center;
}

.cat {
  margin: auto;
  font-family: 'Abyssinica SIL';
  font-size: 1rem;
  background-color: #020041;
  color: white;
  text-align: center;
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}

.cat:hover {
  background-color: #030065;
}

/* product focus */

.prodfocus {
  padding-top: 4vh;
  padding-top: 4vh;
  display: none;
  width: 100%;
  height: 40vh;
}

.col-25 {
  padding-left: 6vw;
  width: 40%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-content: center;
}

.col-75 {
  width: 60%;
  float: right;
}

.col-25 > img {
  height: 30vh;
  user-select: none;
}

.prodfocus > .row > .col-75 > h1 {
  padding-left: 0;
  text-align: left;
  font-size: 2rem;
  color: #030065;
}

.prodfocus > .row > .col-75 > h4 {
  text-align: left;
  font-size: 2rem;
  color: grey;
}

.prodfocus > .row > .col-75 > .rating > i {
  margin-top: 4vh;
  font-size: 1rem;
}

.prodfocus > .row > .col-75 > p {
  margin-top: 2vh;
  font-size: 1rem;
  margin-bottom: 1vh;
}

@media screen and (max-width: 720px) {
  .col-25, .col-75 {
   width: 100%
  }
  .prodfocus > .row > .col-75 > h1, .prodfocus > .row > .col-75 > h4, .prodfocus > .row > .col-75 > .rating, .prodfocus > .row > .col-75 > p {
    text-align: center;
  }
}

/* product gallery */

.small-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: auto;
  user-select: none;
}

.col {
  padding: 2vw;
  min-width: fit-content;
  margin-bottom: 50px;
}

.col > h4, .col > button {
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: 'Abyssinica SIL';
  color: #030065;
}

.col > button {
  font-weight: 600;
}

.info1 {
  font-family: 'Abyssinica SIL';
  color: black;
  font-size: 1rem;
}

.info {
  font-family: 'Abyssinica SIL';
  color: grey;
  font-size: 1rem;
  padding-bottom: 1vh;
}

.col > img {
  margin: auto;
  display: block;
  height: 300px;
  width: 250px;
  user-select: none;
}

.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 720px) {
  .col {
   width: 100%
  }
}

/* message */

.mess {
  display: block;
  margin-right: 2vw;
  margin-left: auto;
  bottom: 1vh;
  position: sticky;
  font-size: 3vh;
  color: white;
  border-color: white;
  border-radius: 10vw;
  background-color: #020041;
  width: 2vw;
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: 'Abyssinica SIL';
}

.popup {
  bottom: 16px;
  right: 16px;
  position: fixed;
  z-index: 9;
  width: 20vw;
  display: none;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 20vw;
  background: white;
  border-radius: 10px 10px 6px 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}

.windowhead {
  display: flex;
  justify-content: space-between;
  background-color: #050088;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 10px 10px 0px 0px; 
}

.windowhead h4 {
  padding-top: 1vh;
  padding-bottom: 1vh;
  user-select: none;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
}

.close-btn {
  user-select: none;
  padding-bottom: 1vh;
  padding-top: 1vh;
  color: white;
  cursor: pointer;
}

.msg-container {
  padding: 12px 0px;
  height: 300px;
  margin: 10px 0; 
  padding-left: 1vw;
}

.msg {
  font-family: 'Abyssinica SIL';
  color: white;
  background-color: #050088;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 2vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.msg p {
  font-size: 12px;
  line-height: 1.8;
}

.chat-box-container {
  display: flex;
  height: 46px;
  margin-bottom: 16px;
  padding: 0 14px;
}

.chat-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background: #f5f5f5;
  border: 1px solid grey;
}

.formcontainer input{
  width: 80%;
  padding: 4px;
  height: 46px;
  padding-left: 16px;
  border: none;
  background: #f1f1f1; 
  border-radius: 4px;
}

.formcontainer input:focus {
  outline: none;
  background: #F5F5F5;
}

.send-btn .btnn {
  width: 10vw;
  background-color: #050088;
  color: white;
  height: 100%;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 300ms;
}

.btnn:hover, .mess:hover {
  opacity: 0.9;
}

/*products gallery*/


/*footer*/
.footer {
  font-family: 'Abyssinica SIL';
  text-align: center;
  color: grey;
  background-color: white;
  height: 10vh;
  width: 100%;
  padding-top: 4vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
